@model IEnumerable<AfroLatino.Models.Video>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Videos";
}

<h1>Les vidéos</h1>

<br>
<p style="text-align:center;">Retrouvez ici toutes les vidéos pour découvrir ou revoir les passes de vos danses préférées !</p>
<br>

<form method="get" asp-action="Index" enctype="multipart/form-data">
    <label for="typeDanse">Type de vidéo : </label>
        <select name="typeDanse">
        <option value="all">Toutes les vidéos</option>
        <option value="bachata">Bachata</option>
        <option value="kizomba">Kizomba</option>
        <option value="salsaP">Salsa Portoricaine</option>
        <option value="salsaC">Salsa Cubaine</option>
        </select>
        &emsp;
        <button type=submit class="btn btn-outline-danger">Rechercher</button>
</form>

@if (SignInManager.IsSignedIn(User))
{
    <br/>
    <a asp-controller="Video" asp-action="Create" style="text-decoration: none;color:black;"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16" style="color:rgb(206, 0, 0);">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
        </svg>&ensp;Ajouter une vidéo </a>
}

<div class="row justify-content-center" style="margin-top:20px;">
    <hr/>
    @foreach (var item in Model.OrderBy(v => v.DatePublication))
    {
            <div class="col-6">
                <h3 style="color:rgb(246,89,5);">@item.Title</h3>
                <p style="font-size:12px;font-style:italic;">Publiée le @item.DatePublication.ToString("dd/MM/yyyy")</p>
                <br>
                <p>@item.DescriptionCourte</p>
                <br>
                <p style="font-size:10px;">@item.Type</p>
            </div>
            <div class="col-6">
                <video controls src="~/videos/@item.SourceVideo" width="100%" style="margin-bottom:20px;">à pas la vidéo</video>
                <br>
                @if (SignInManager.IsSignedIn(User))
                {
                    <div style="text-align:right;">
                    <a asp-controller="Video" asp-action="Edit" asp-route-id="@item.Id"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16" style="color:black;">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                    </svg></a>
                    <a>&emsp;</a>
                    <a asp-controller="Video" asp-action="Delete" asp-route-id="@item.Id"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16" style="color:rgb(206, 0, 0);">
                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                    </svg></a>
                    </div>
                    <br/>
                }
            </div>
            <hr/>
    }
</div>